<div class="input {{modifierClass}}")>
  <label class="input__name">{{title}}</label>
  <input class="input__enter" type={{type}} name={{name}} required="required"></input>
  <div class="input__error"></div>
</div>
