@import "../../assets/mixins/_mixins.scss";

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input__name {
  @include s9-h9;
  color: $grey-300;
  padding-bottom: 7px;
}

.input__enter {
  font-family: $fonts;
	width: 100%;
  border: none;
	padding: 0;
	background: transparent;
  border-bottom: 1px solid $blue;
  padding-bottom: 4px;
  opacity: 1;
  font-family: $fonts;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.input__error {
  @include s8-h8;
  color: $red;
  position: absolute;
  top: calc(100% + 2px);
}
