@import "../../assets/mixins/_mixins.scss";
.button {
  @include s13-h13;
  display: block;
  padding: 14px 0;
  outline: none;
  border: 0;
  border-radius: 8px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  color: $white;
  background-color: $blue;
  cursor: pointer;
  transition: opacity .7s;
  &:hover {
    opacity: .9;
  }
  &--disabled {
    opacity: .9;   
    background-color: $grey-300;
    cursor: default;
  }
}