h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 20px;
}

h3 {
  font-size: 15px;
  line-height: 20px;
}

.big {
  font-size: 16px;
  line-height: 16px;
}

.small {
  font-size: 11px;
  line-height: 11px;
}

.middle {
  font-size: 13px;
  line-height: 13px;
}
