.outer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_sign {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    width: 340px;
    min-height: 450px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px var(--varShadow);

    h1 {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    .position-top {
        margin: 40px 0;
    }
}