.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal:target,
.modal.active {
  opacity: 1 !important;
  visibility: visible;
}

.modal__container {
  padding: 40px 30px;
  background-color: $white;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  border-radius: 12px;
  text-align: center;
}

.modal__error-text {
  margin-top: 15px;
}
