.profile-info__head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.profile-info__add-image {
  position: relative;
  background-color: $grey1;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;

  &::after {
    position: absolute;
    content: 'Поменять аватар';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    opacity: 0;
    color: $white;
    font-size: 13px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity $skills-start-anim;
  }

  &:hover {
    &::after {
      opacity: 0.4;
    }
  }
}

.profile-info {
  width: 100%;
  display: flex;
  justify-content: center;
  &__container {
    width: 50%;
  }
}

.profile-info__fields-container {
  margin-top: 60px;
}

.profile-info__field {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey3;
  padding: 10px 0;
  &__field-value {
    color: $grey2;
  }
}

.profile-info .profile-info__field-name,
.profile-info__field-value {
  font-size: 13px;
  line-height: 13px;
}

.profile-info__edit-btn,
.profile-info__edit-pass {
  color: $blue;
  cursor: pointer;
}

.profile-info__logout {
  color: $red;
  cursor: pointer;
}

.profile-navigate {
  position: absolute;
  height: 100%;
  left: 0;
  background: $grey1;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__button {
    display: flex;
  }
}

