body, p {
  margin: 0;
}
input {
  border: none;
}
button {
  padding: 0;
  border: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Inter", serif;
}
* {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $text;
  box-sizing: border-box;
}
.big-title {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
.title {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.small-text {
  font-size: 11px;
  line-height: 11px;
}
.link-text {
  @include link;
}
