$white: #ffffff;
$black: #000000;
$blue: #3369F3;
$blue-light:#E4EDFD;
$red: #FF2F2F;

$black-100: #1E1E1E;

$grey-100: #FBFBFB;
$grey-200: #EFEFEF;
$grey-300: #999999;
$grey-400: #EAEAEA;
$grey-500: #F8F8F8;
