@mixin typography_template($font-size, $line-height) {
  font-size: $font-size;
  font-style: normal;
  line-height: $line-height;
}

@mixin s8-h8 {
  @include typography_template(8px, 8px);
}
@mixin s9-h9 {
  @include typography_template(9px, 9px);
}

@mixin s11-h11 {
  @include typography_template(11px, 11px);
}

@mixin s12-h12 {
  @include typography_template(12px, 12px);
}

@mixin s12-h15 {
  @include typography_template(12px, 15px);
}

@mixin s13-h13 {
  @include typography_template(13px, 13px);
}

@mixin s14-h16 {
  @include typography_template(14px, 16px);
}

@mixin s20-h20 {
  @include typography_template(20px, 20px);
}