<form class="messege-input" method="post" enctype="multipart/form-data">
  <div class="messege-input__file">
  </div>
  <div class="messege-input__input">
    <textarea class="messege-input__enter" type="text" name="messege" placeholder="сообщение" autocomplete="off" rows="1"></textarea>
  </div>
  <div class="messege-input__send">
    <button class="messege-input__button messege__button" type="submit"></button>
  </div>
</form>
