.chat-page {
  height: 100%;
  position: relative;

  &__fake-image {
    width: 100%;
    height: auto;
  }
  &__link-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 24%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $foggy-light;
  }
}