extends ../layout/base

block variables
    - const siteTitle = "Ошибка 404"
    - const errorTitle = "404"
    - const errorSubTitle = "Не туда попали"
    - const errorNavPath = "/index.pug"
    - const errorBtnText = "Назад к чатам"

block content
    include ../templates/main
        include ../templates/error/error