extends ../layout/base.pug

block body 
  div#root(class='root')
    div(class='container')
      div(class='main')
        div(class='error-container')
          div(class='error-logo')
            i(class='fa fa-paw')
          div(class='error-number') 404
          div(class='error-title') Ooops, our dogs can't find this page...
          div(class='error-advise') Please check the URL again
          