extends ../layout/base.pug

block body 
  div#root(class='root')
    div(class='container')
      div(class='main')
        div(class='error-container')
          div(class='error-logo')
            i(class='fa fa-paw')
          div(class='error-number') 500
          div(class='error-title') Looks like some cats have been here...
          div(class='error-advise') We are alredy fixing it!
          