extends ../layout/base

block variables
    - const siteTitle = "Ошибка 500"
    - const errorTitle = "Ошибка 500"
    - const errorSubTitle = "Мы уже фиксим"
    - const errorNavPath = "/index.pug"
    - const errorBtnText = "Назад к чатам"
block content
    include ../templates/main
        include ../templates/error/error