extends profile.pug

block profileOptions
  div(class='profile-edit') Change password:
  div(class='profile-changePassword')
    input(class='profile-input', type='password', name='newpassword', placeholder='new password')
    input(class='profile-input', type='password', name='repeatpassword', placeholder='repeat password')
  div(class='profile-button-container')
    a(href='./profile.pug', class='headerLink')
      div(class='button') Save