extends ../layout/base

block variables
    - const siteTitle = 'Список чатов';

block content
    include ../templates/main.pug
        div Список чатов
        a(href='/profile.pug')  профиль 

        