extends chat.pug

block profile 
  div(class='modal')
    div(class='modal-container')
      div(class='model-close__wrapper')
        i(class='fa fa-times')
      div(class='user-profile-container')
        div(class='profile-avatar-wrapper')
          img(src='../../static/userpic_example.png', class='profile-avatar')
          i(class='fa fa-edit')

        div(class='profile-info-container')
          div(class='profile-value-container')
            div(class='profile-label') First name
            div(class='profile-value') 
              input(class='profile-input', type='text', name='first_name', value='Alexandre', placeholder='first name')
          div(class='profile-value-container')
            div(class='profile-label') Last name
            div(class='profile-value') 
              input(class='profile-input', type='text', name='last_name', value='Vovk', placeholder='last name')
          div(class='profile-value-container')
            div(class='profile-label') Email
            div(class='profile-value') 
              input(class='profile-input', type='text', name='email', value='sashok@mail.mail', placeholder='email')
          div(class='profile-value-container')
            div(class='profile-label') Phone
            div(class='profile-value')
              input(class='profile-input', type='text', name='phone', value='777123456', placeholder='phone')
          div(class='profile-value-container')
            div(class='profile-label') Login
            div(class='profile-value')
              input(class='profile-input', type='text', name='login', value='sashok', placeholder='login')
          div(class='profile-value-container')
            div(class='profile-label') Display name
            div(class='profile-value')
              input(class='profile-input', type='text', name='display_name', value='sashok', placeholder='name in chat')
        div(class='profile-button-container')
          a(href='./profile.pug', class='headerLink')
            div(class='button') Save