include ../mixins/inputField.pug
    
block content
    .block
        h2.block__title Вход
        form.form(name="signin")
            .form__container
                +inputField("login", "Логин", "login", "text", "Поле некорректно заполнено", "Логин" )
                +inputField("login", "Логин", "login", "text", "Поле некорректно заполнено", "Пароль")
            
                .form__buttons
                    button.button(name='button') Авторизоваться
                    a(href='/signup.pug') Нет аккаунта?