extends ../layout/base

include ../mixins/inputField.pug

block variables
    - const siteTitle = 'Регистрация';

block content
    include ../templates/main.pug
        .block
            h2.block__title Регистрация
            form.form(name="signup")
                .form__container
                    +inputField("email", "Почта", "mail", "text", "Поле некорректно заполнено", "email" )
                    +inputField("login", "Логин", "login", "text", "Поле некорректно заполнено", "Пароль")
                    +inputField("firstName", "Имя", "firstName", "text", "Поле некорректно заполнено", "Имя")
                    +inputField("secondName", "Фамилия", "secondName", "text", "Поле некорректно заполнено", "Фамилия")
                    +inputField("phone", "Телефон", "phone", "tel", "Поле некорректно заполнено", "Телефон")
                    +inputField("password", "Пароль", "password", "password", "Поле некорректно заполнено", "Пароль")
                    +inputField("confirmPassword", "Пароль (ещё раз)", "password",  "password", "Поле некорректно заполнено", "Пароль (ещё раз)")
                    .form__buttons
                        button.button(name='button') Зарегистрироваться
                        a(href='/profile.pug') Войти