<form class="file-load" action="#" method="post" enctype="multipart/form-data">
  <div class="file-load__item">
    <label class="file-load__name" for="avatar">Загрузите файл</label>
    <input type="file" name="avatar" accept=".jpg, .jpeg, .png">
  </div>
  {{{button}}}
</form>
