<div class="{{styles.wrapper}}">
    <div class={{styles.sun}}>
    </div>

    <nav class={{styles.pages}}>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/profile">Profile</a>
        <a href="/main">Main</a>
        <a href="/404">404</a>
        <a href="/500">5*</a>
    </nav>

</div>
