.profile-page {
  @include flex-center;
  height: 100%;

  &__side-button {
    @include flex-center;
    background-color: $foggy-light;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 64px;

    &::after {
      position: absolute;
      content: "";
      left: 100%;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $foggy;
    }

    button {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      position: relative;
      cursor: pointer;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__content {
    width: 510px;
    height: 100%;
    padding: 5% 0;

    &__avatar-block {
      text-align: center;

      &__avatar {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: $gray-light;
        position: relative;
        cursor: pointer;
        margin: 20px auto;

        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $black;
            opacity: 50%;
          }
          &::before {
            @include flex-center;
            position: absolute;
            content: "Поменять аватар";
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            word-spacing: 100vw;
            color: $light;
            z-index: 1;
          }
        }
      }
      span {
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
      }
    }
    &__data-block,
    &__buttons-block {
      margin-top: 60px;

      > div {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span:last-child:not(:first-child) {
          opacity: 50%;
        }
      }
    }
    .dividered-content {
      .dividered-content__row {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $foggy;
        }
      }
      .dividered-content__row:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}