extends ../../layout/base
include ../../mixins/inputField.pug
include ../../mixins/modal.pug

block content
    +modal('modalEditPass', 'Изменить пароль', 'Сохранить',)
        form.form(name="password-edit")
            .form__container
                +inputField("oldPassword", "Старый пароль", "password", "password", "Поле некорректно заполнено", "Пароль")
                +inputField("newPassword", "Новый пароль", "password",  "password", "Поле некорректно заполнено", "Новый пароль")
                +inputField("confirmPassword", "Повторите новый пароль", "password",  "password", "Поле некорректно заполнено", "Повторите новый пароль")