.error-block
    .error-block__container
        .error-block__text-container
            h1.error-block__title #{errorTitle}
            p.error-block__subtitle #{errorSubTitle}
        a.error-block__button(href='/chat.pug') #{errorBtnText}