<div class="dialog {{classActive}}">
  <div class="dialog__item">
    <div class="dialog__img"></div>
    <div class="dialog__text">
      <p class="dialog__name">{{name}}</span>
      <p class="dialog__lead">{{lead}}</span>
    </div>
    <div class="dialog__messege">{{message}}</div>
  </div>
</div>
