.wrapper {
  background-color: #000;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../../static/img/404/stars.png');
  width: 100%;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.picture {
  width: 392px;
  height: 286px;
  background:  url('../../../static/img/404/satan.png');
  background-size: 100%;
}

.title {
  color: #FFFFFF;
}

.home {
  color: #FFFFFF;
  font-size: 20px;
}
