@font-face {
  font-family: "InterMedium";
  font-weight: normal;
  font-style: normal;

  src: local("InterMedium"),
    local("Inter Medium"),
    url("../static/fonts/inter_medium.woff2") format("woff2"),
    url("../static/fonts/inter_medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "InterSemiBold";
  font-weight: normal;
  font-style: normal;

  src: local("InterSemiBold"),
    local("Inter SemiBold"),
    url("../static/fonts/inter_semiBold.woff2") format("woff2"),
    url("../static/fonts/inter_semiBold.woff") format("woff");
  font-display: swap;
}

//fonts variables
$fonts: InterMedium, Arial, sans-serif;
$fontsBold: InterSemiBold, Arial, sans-serif;
