<div class="avatar">
  <div class="avatar__circle">
    <div class="avatar__img"></div>
    <div class="avatar__label">
      <span>поменять<br> аватар</span>
    </div>
  </div>
  <div class="avatar__name">{{title}}</div>
</div>
