.login-page {
  @include flex-center;
  height: 100%;

  .sign-block {
    width: 340px;
    min-height: 460px;
    padding: 30px;
    margin: auto;
    background: $light;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .title {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    &__form {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      &__inputs {
        margin-bottom: auto;

        input {
          @include input;
          margin-bottom: 40px;
        }
      }
      &__buttons {
        @include flex-center;
        flex-direction: column;

        button {
          width: 100%;
          border-radius: 8px;
          margin: 15px 0;
        }
        a {
          @include link;
        }
      }
    }
  }
}