<div class="form form--profile">
  <form class="form__block" method="post" name="password-change" enctype="multipart/form-data" autocomplete="off" action="#">
    <div class="form__item">
      {{{oldPassword}}}
      <br />
      {{{newPassword}}}
      <br />
      {{{repeatPassword}}}
    </div>
    {{{button}}}
  </form>
</div>
