  <div class="message">
    <div class="message__item">
      <p class="message__text">
        {{{text}}}
        <span class="message__time">11:56</span>
      </p>
    </div>

    <div class="message__item message__item--send">
      <p class="message__text message__text--send">
        {{{textSend}}}
        <span class="message__time">11:56</span>
      </p>
    </div>

  </div>
